h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

p, span {
  font-family: 'Montserrat', sans-serif;

}

.index{
  display: flex;
  flex-direction: column;
  height: inherit;
}

#root{
  padding: 10px;
  
}

.logo{
  
  font-family: 'Roboto:900', sans-serif;
  font-weight: bold;
  margin-right: 20px;
  border: 2px solid black;
}

.header{
  display: flex;
  align-items: center;
  padding: 5px; 
  background: #ffcd00;
  color: black;
  border-bottom: 1px solid #3D3D3D;
  box-shadow: 0 2px 4px rgba(3,27,78,.1);
    

}

.footer{
  padding: 5px;
  margin-top: auto;
  font-size: 12px;  
  display: flex;
  justify-content: flex-end;
}


body{
  margin: 0px;
  /* The image used */
  /* background-image: url("https://user-images.githubusercontent.com/22170286/61590905-803b8b80-abbf-11e9-87d5-0e4dd74d780a.png"); */

  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

body:before{
  padding:0;
  content: '';
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-position: left;
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  background-image: url('https://user-images.githubusercontent.com/22170286/61591251-e1b22900-abc4-11e9-9685-aa62a0e373d9.png')
}

html{
  height: 100%;
  overflow: hidden;


}
